h1,
h3 {
    color: rgb(47, 44, 47);
    font-family: 'arial';
    font-size: 1.5em;
}

body {
    background-image: url("../images/dose-juice-sTPy-oeA3h0-unsplash.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-color: rgb(245, 231, 238);
}

main {
    background-color: rgb(245, 231, 238);

}

.recipeback {
    background-color: rgb(181, 208, 174);
}

#buddha {
    color: rgb(102, 159, 119);
}

.text,
a,
ul,
ol {
    color: rgb(67, 91, 101);
    font-family: sans-serif
}

.in {
    font-size: 1.5em;
    font-family: serif;
    color: rgb(102, 159, 119);
}


a:hover {
    color: black;
}
