h1,
h3 {
    color: rgb(72, 72, 72);
    font-family: 'arial';
    font-size: 1.5em;
}

body {
    background-color: rgb(205,194,180);
}

main {
    color: rgb(101,102,97);

}

.somename {
    color: rgb(156,129,113);
}

.title {
    font-size: 1.5em;
    font-family: monospace;
    color: rgb(151,104,102);
}